<H1>Bem-vindo ao app Cards do MvS</H1>

Temos aqui:  
<ul>
    <%@cards.each do |c|%>
    <li><a href="/ver_traducao/<%= c.id() %>">  <%= c.portugues() %></a></li>
    <% end %>
    <li><%=@teste %></li>
</ul>
 
 <a href="www.jwave.com.br"> JWAVE </a> 

 